<!DOCTYPE html>
<html lang="en">
<head>
    <title>Most Expensive Artworks</title>
    {% load static %}
    {% load django_bootstrap5 %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>

<h1>Most Expensive Artworks</h1>

<table id='table' border="1">
    <thead>
        <tr>
            <th>Artwork</th>
            <th>Artist</th>
            <th>Year</th>
            <th>Sale Price (USD)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Salvator Mundi</td>
            <td>Leonardo da Vinci</td>
            <td>circa 1500</td>
            <td>$450.3 million</td>
        </tr>
        <tr>
            <td>Interchange</td>
            <td>Willem de Kooning</td>
            <td>1955</td>
            <td>$300 million</td>
        </tr>
        <tr>
            <td>When Will You Marry?</td>
            <td>Paul Gauguin</td>
            <td>1892</td>
            <td>$210 million</td>
        </tr>
        <!-- Add more rows for other artworks -->
    </tbody>
</table>

<div class="card" style="width: 10rem; margin: 0 auto; margin-top: 20px;">
    <img src="https://picsum.photos/200" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Random Image Generator</h5>
      <p class="card-text">Refresh page to get a new image.</p>
      <a href="{% url 'child' %}" class="btn btn-primary">RETURN</a>
    </div>
  </div>

  <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>
